
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bodyS{
  background: #daefef;
}

.headerS{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}

.logoS{
  display: flex;
  align-items: center;
}

.logoS a{
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}

.search_boxS{
  display: flex;
  align-items: center;
  
}

.search_boxS input{
  padding: 9px;
  width: 250px;
  background: #daefef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search_boxS i{
  padding: 0.66rem;
  cursor: pointer;
  color: #fff0f0;
  background: rgb(1, 82, 82);;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-iconsS{
  display: flex;
  align-items: center;
}

.header-iconsS i{
  margin-right: 2rem;
  cursor: pointer;
}

.header-iconsS .accountS{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-iconsS .accountS img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.containerS{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}

/* Side menubar section */
.navS{
  background: #fff;
}
.side_navbarS{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.side_navbarS span{
  color: #044a49;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbarS a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color:#044a49 ;
}
.linksS{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.linksS a{
  font-size: 13px;
}
.side_navbarS a:hover{
  background: rgb(235, 235, 235);
}
.side_navbarS .active{
  border-left: 2px solid #044a49;
}

/* Main Body Section */
.main-bodyS{
  width: 100%;
  padding: 1rem;
}

.imglogoS{
  width: 100px;
  height: 100px;  
}
.a1S{
  margin-top: 0%;
}

.h1-bodyS{
  margin-left: 10%;
  color:rgb(1, 82, 82) ;
}

.promo_cardS{
  width: 80%;
  color: rgb(1, 82, 82);
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  /* background: #044a49; */
  margin-left: 10%;
  background-image: url();
  /* background-repeat: no-repeat; */
}
.promo_cardS h1, .promo_cardS span, button{
  margin: 10px;
}
.promo_cardS button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
/* .history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.rowS{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  /* width: 165%; */
}
.aTS{
  margin-right: 10%;
  color: rgb(1, 82, 82);
}
.tableS{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
}
table td, th{
  padding: 0.2rem 0.8rem;
}
table th{
  font-size: 15px;
}
table td{
  font-size: 13px;
  color: #044a49;
}



/* Sidebar Section */
.sidebarS{
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
}
.sidebarS h4{
  margin-bottom: 1.5rem;
}
.sidebarS .balanceS{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.balanceS .iconS{
  color: white;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 1rem;
  background: #daefef;
}
.balanceS .infoS h5{
  font-size: 16px;
}
.balanceS .infoS span{
  font-size: 14px;
  color: #044a49;
}
.balanceS .infoS i{
  margin-right: 2px;
}
.imglogoS{
  width: 250px;
  height: 150px;
  margin-left: -39px;
  margin-right: -190px;
  margin-bottom: -20px;
}

.h4S{
  margin-left: 10%;
  color: rgb(1, 82, 82);
}

@media(max-width:700px){
    .containerS{
        display: flex;
        flex-direction: column;
    }
    .sidebarS{
        width: 2%;
    }
    /* table{
        background: #fff;
        padding: 1rem;
        text-align: left;
        border-radius: 10px;
        width: 70%;
        margin-left: 5%;
      }
      table td, th{
        padding: 0.2rem 0.8rem;
      }
      table th{
        font-size: 13px;
      }
      table td{
        font-size: 10px;
        color: #044a49;
      } */
      .logoS a{
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin: 2rem 8rem 2rem 2rem;
      }
      
      .search_boxS{
        display: flex;
        align-items: center;
        margin-left: -10%;
        
      }
      
      .search_boxS input{
        padding: 9px;
        width: 150px;
        background: #daefef;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
      }
      
      .search_boxS i{
        padding: 0.66rem;
        cursor: pointer;
        color: #fff0f0;
        background: rgb(1, 82, 82);;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .header-iconsS{
        display: flex;
        align-items: center;
      }
      
      .header-iconsS i{
        margin-right: 2rem;
        cursor: pointer;
      }
      
      .header-iconsS .accountS{
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .header-iconsS .accountS img{
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 50%;
        margin-right: 20%;
      }
  }
  .headerS{
    display: flex;
    
    
    height: 60px;
    padding: 20px;
    background: #fff;
  }