@media (min-width:910px){
    .containerD{
        background-color: #daefef;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 99%;
        
    }
    
    .info-clientD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        
    
    }
    
    .formD{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    .inputD{
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 20px;
    }
    
    .input-Detail{
        border : none;
        margin: 5px;
        margin-left: 30px;
        height: 35px;
        border-radius: 5px;
        color: rgb(130, 129, 129);
    }
    
    .info-expertD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        margin-top: 20px;
    }
    
    .select-Detail{
        border : none;
        margin: 5px;
        margin-left: 30px;
        height: 35px;
        border-radius: 5px;
        color: rgb(130, 129, 129);
    }
    
    .expertD{
        display: flex;
        flex-direction: column;
        
        
    }
    
    .form2D{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    
        
    }
    
    /* .devis{
    
    margin-left: 30%;
    display: flex;
    padding: 5px;
      padding-left: 55px;
      padding-right: 15px;
      width: 150px;
      
      height: 3em;
      color :white ;
      background-color: rgb(3, 173, 3);
      border: none;
      align-items: center;
      border-radius: 10px;
      font-size: 15px;
    
    } */
    .buttonD{
        margin-left: 85%;
        /* margin-right: 5%; */
        
    }
    
    .AccepterD{
        background-color: rgb(96, 96, 245);
        color: white;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    
    .AnnulerD{
        background-color: red;
        color: white;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        margin-top: 5px;
    }
    
    .Info-employeD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        margin-top: 20px;
    }
    
    .employeD{
        display: flex;
        flex-direction: column;
    }
    
    .form3D{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    .buttonAD{
        display: flex;
      padding: 5px;
      padding-left: 45px;
      padding-right: 20px;
      width: 130px;
      
      height: 40px;
      color :white ;
      background-color: rgb(3, 173, 3);
      border: none;
      align-items: center;
      border-radius: 10px;
      font-size: 15px;
      margin-left: 5%;
    }
        
      
    
    .devisD{
        
        display: flex;
        padding: 5px;
        padding-left: 45px;
        padding-right: 20px;
        width: 130px;
        
        height: 40px;
        color :white ;
        background-color: rgb(3, 173, 3);
        border: none;
        align-items: center;
        border-radius: 10px;
        font-size: 15px;
        margin-left: 45%;
      }
    
    .tableD{
        background: #fff;
        padding: 10px;
        
        
        text-align: left;
        border-radius: 10px;
        
        padding-left: 85px;
        margin: 30px;
        margin-right: 20%;
        margin-left: 10%;
        width: 80%;
      }
      /* table td, th{
        padding: 0.2rem 0.8rem;
      } */
      .tableD th{
        font-size: 25px;
        padding-bottom: 15px;
        color: #0f8383;
        padding-left: 10px;
      }
      .tableD td{
        font-size: 15px;
        color: #044a49;
        padding: 5px;
        padding-left: 15px;
        
      }
    
      .supprimerD{
        background-color: rgb(228, 4, 4);
        color: white;
        border: none;
        border-radius: 10px;
        width: 95px;
        height: 25px;
        font-size: 15px;
        
      }
    
      .validerD{
        background-color: rgb(96, 96, 245);
        color: white;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        margin-left: 85%;
        margin-bottom: 5px;
      }
}
  
/* Pour les écrans d'une largeur maximale de 768 pixels */
@media only screen and (max-width: 768px) {
    /* Ajoutez vos styles CSS ici */
    .containerD {
        /* Exemple de style à appliquer pour les écrans plus petits */
        padding: 10px;
        margin: 10px;
    }

    /* Ajoutez d'autres styles selon vos besoins */
}

@media (max-width:910px){
    .containerD{
        background-color: #daefef;
        border-radius: 15px;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    .info-clientD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        
    
    }
    
    .formD{
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    .inputD{
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 20px;
    }
    
    .input-Detail{
        border : none;
        margin: 5px;
        margin-left: 10%;
        height: 35px;
        border-radius: 5px;
        color: rgb(130, 129, 129);
    }
    
    .info-expertD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        margin-top: 20px;
    }
    
    select-Detail{
        border : none;
        margin: 5px;
        margin-left: 30px;
        height: 35px;
        border-radius: 5px;
        color: rgb(130, 129, 129);
    }
    
    .expertD{
        display: flex;
        flex-direction: column;
        
        
    }
    
    .form2D{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    
        
    }
    
    /* .devis{
    
    margin-left: 30%;
    display: flex;
    padding: 5px;
      padding-left: 55px;
      padding-right: 15px;
      width: 150px;
      
      height: 3em;
      color :white ;
      background-color: rgb(3, 173, 3);
      border: none;
      align-items: center;
      border-radius: 10px;
      font-size: 15px;
    
    } */
    .buttonD{
        margin-left:5%;
        /* margin-right: 5%; */
        display: flex;
        flex-direction: row;
        justify-content: center;

        
    }
    
    .AccepterD{
        background-color: rgb(96, 96, 245);
        color: white;
        border: none;
        border-radius: 10px;
        width: 20%;
        height: 40px;
        font-size: 15px;
        margin-right: 5px;
    }
    
    .AnnulerD{
        background-color: red;
        color: white;
        border: none;
        border-radius: 10px;
        width: 20%;
        height: 40px;
        font-size: 15px;
        /* margin-top: 5px; */
    }
    
    .Info-employeD{
        border: #cbe0e0;
        border-radius: 10px;
        border-style: solid;
        padding: 10px;
        margin-top: 20px;
    }
    
    .employeD{
        display: flex;
        flex-direction: column;
    }
    
    .form3D{
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    .buttonAD{
        display: flex;
      padding: 5px;
      padding-left: 45px;
      padding-right: 20px;
      width: 130px;
      
      height: 40px;
      color :white ;
      background-color: rgb(3, 173, 3);
      border: none;
      align-items: center;
      border-radius: 10px;
      font-size: 15px;
      margin-left: 43%;
    }
        
      
    
    .devisD{
        
        display: flex;
        padding: 5px;
        padding-left: 45px;
      padding-right: 20px;
        /* width: 20%; */
        
        /* height: 40px; */
        color :white ;
        background-color: rgb(3, 173, 3);
        border: none;
        align-items: center;
        border-radius: 10px;
        /* font-size: 15px; */
        margin-left: 37%;
        margin-bottom: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
      }
    
    .tableD{
        background: #fff;
        padding: 10px;
        
        
        text-align: left;
        border-radius: 10px;
        
        padding-left: 85px;
        margin: 30px;
        margin-right: 20%;
        margin-left: 20%;
      }
      /* table td, th{
        padding: 0.2rem 0.8rem;
      } */
      .tableD th{
        font-size: 25px;
        padding-bottom: 15px;
        color: #0f8383;
      }
      .tableD td{
        font-size: 15px;
        color: #044a49;
        padding: 5px;
        padding-left: 15px;
        
      }
    
      .supprimerD{
        background-color: rgb(228, 4, 4);
        color: white;
        border: none;
        border-radius: 10px;
        width: 95px;
        height: 25px;
        font-size: 15px;
        
      }
    
      .validerD{
        background-color: rgb(96, 96, 245);
        color: white;
        border: none;
        border-radius: 10px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        margin-left: 43%;
        margin-bottom: 5px;
      }
}
@media(max-width:770px){
    .tableD{
        background: #fff;
        padding: 10px;
        
        
        text-align: left;
        border-radius: 10px;
        /* width: 50%; */
        
        padding-left: 10px;
        margin: 3%;

        /* margin-right: 10%; */
        /* margin-left: 10%; */
      }
      /* table td, th{
        padding: 0.2rem 0.8rem;
      } */
      .tableD th{
        font-size: 20px;
        padding-bottom: 15px;
        color: #0f8383;
        padding-right: 10px;
        
        
    }
      .tableD td{
        font-size: 13px;
        color: #044a49;
        padding: 5px;
        padding-left: 15px;
        
      }
      .supprimerD{
        background-color: rgb(228, 4, 4);
        color: white;
        border: none;
        border-radius: 10px;
        width: 70px;
        height: 25px;
        font-size: 13px;
        font-weight: lighter;
        
      }
}


