

@media all and (max-width:560px){
/*  PAge Devis*/
.container-checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
 
}

.container-checkbox input {
display: none;

} 

.container-checkbox svg {
overflow: visible;
}
.p1checkbox{
width: 20%;
}

.path {
fill: none;
stroke: rgb(85, 84, 84) ;
stroke-width: 6;
stroke-linecap: round;
stroke-linejoin: round;
transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
stroke-dasharray: 241 9999999;
stroke-dashoffset: 0;


}
.container-checkbox input:checked ~ svg .path {
stroke-dasharray: 70.5096664428711 9999999;
stroke-dashoffset: -262.2723388671875;
}
.checkbox{
margin-top: 0px;
}
.p-checkbox{
color: #000000;
margin-left: 20px;
}
.div1{
display: flex;
}

.div-main{
width: 90%;
height: 40%;
margin: 50px auto;
padding: 50px;
background-color: white; 
border-radius: 15px;
margin-top: 400px;
box-shadow:  2px 5px 5px 2px;


}
.standard-height{
height: 850px;
}
.nav-devis{
background-image: url('/public/media/profil-image.jpg');
position: absolute;
width: 100%;
height: 290px; 
background-size: cover;
margin-top:3px ;

}
.link-devis{
color: white;
background:linear-gradient(to right,#071952,#0766AD);
text-decoration: none;
padding: 10px;
border-radius: 5px;
padding-left: 40px;
padding-right: 40px;
margin-left: 1700px;


}
.link-devis:hover{
color: white;
background:linear-gradient(to right,#0766AD,#071952);

}
.PurtePro{
font-size: 40px;
margin-bottom: 190px;
margin-right: 100px;
}

.input-Devis{
border-radius: 20px;
width: 400px;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.p1-devis,.h3-devis{
text-align: center;
color: #000000;
}

.table-devis {
width: 400px;
margin-left: 10px;
}



.td-devis {
padding: 10px;
color: #071952;
font-size: 18px;
display: flex;

}



#typeService,
#typeNettoyage,
#nomberIntervention
{
margin-left: 10px;
border-radius: 8px;
height: 50px;
margin-bottom: 20px;
background-color: white;
border: #070606 1px solid;
font-size: 15px;


}




.div1 {
margin-top: 20px;

}



.p-checkbox {
margin-right: 7px;
}

.checkbox {
margin-right: 10px;
fill: none;
stroke: #000;
stroke-width: 5;
}


#specificArea{
font-size: 18px;
}
.button-devis{
width: 950px;
border-radius: 20px;
height: 50px;
border: none;
font-size: 16px;
background:linear-gradient(to right,#071952,#0766AD);
color:#F3F3F3;
}
.button-devis:hover {
background: linear-gradient(to right, #0766AD, #071952); 
}
.input-ShowSurface{
border-radius: 10px;
width: 25%;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.input-type{
  border-radius: 20px;
  width: 100%;
  box-shadow: #226089 1px 3px 4px 1px ;
  border: #0766AD;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: #0766AD;
font-size: 16px;
}






}

@media all and (min-width:561px) and (max-width:789px){
/*  PAge Devis*/
.container-checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 130px;
}

.container-checkbox input {
display: none;

} 

.container-checkbox svg {
overflow: visible;
}
.p1checkbox{
 width: 100px;
}


.path {
fill: none;
stroke: rgb(85, 84, 84) ;
stroke-width: 6;
stroke-linecap: round;
stroke-linejoin: round;
transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
stroke-dasharray: 241 9999999;
stroke-dashoffset: 0;


}
.container-checkbox input:checked ~ svg .path {
stroke-dasharray: 70.5096664428711 9999999;
stroke-dashoffset: -262.2723388671875;
}
.checkbox{
margin-top: 0px;
}
.p-checkbox{
color: #000000;
margin-left: 20px;
}
.div1{
display: flex;
margin-top: 20px;
}

.div-main{
width: 90%;
height: 40%;
margin: 50px auto;
padding: 40px;
background-color: white; 
border-radius: 15px;
margin-top: 400px;
box-shadow:  2px 5px 5px 2px;


}

.standard-height{
height: 850px;
}
.nav-devis{
background-image: url('/public/media/profil-image.jpg');
position: absolute;
width: 100%;
height: 290px; 
background-size: cover;
margin-top:3px ;

}
.link-devis{
color: white;
background:linear-gradient(to right,#071952,#0766AD);
text-decoration: none;
padding: 10px;
border-radius: 5px;
padding-left: 40px;
padding-right: 40px;
margin-left: 1700px;


}
.link-devis:hover{
color: white;
background:linear-gradient(to right,#0766AD,#071952);

}
.PurtePro{
font-size: 40px;
margin-bottom: 190px;
margin-right: 100px;
}

.input-Devis{
border-radius: 20px;
width: 400px;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.p1-devis,.h3-devis{
text-align: center;
color: #000000;
}

.table-devis {
width: 500px;
margin-left: 20px;
}



.td-devis {
padding: 10px;
color: #071952;
font-size: 18px;
display: flex;

}



#typeService,
#typeNettoyage,
#nomberIntervention
{
margin-left: 10px;
border-radius: 8px;
height: 50px;
margin-bottom: 20px;
background-color: white;
border: #070606 1px solid;
font-size: 15px;


}





.p-checkbox {
margin-right: 7px;
}

.checkbox {
margin-right: 10px;
fill: none;
stroke: #000;
stroke-width: 5;
}


#specificArea{
font-size: 18px;
}
.button-devis{
width: 90%;
border-radius: 20px;
height: 50px;
border: none;
font-size: 16px;
background:linear-gradient(to right,#071952,#0766AD);
color:#F3F3F3;
}
.button-devis:hover {
background: linear-gradient(to right, #0766AD, #071952); 
}
.input-ShowSurface{
border-radius: 10px;
width: 25%;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.input-type{
  border-radius: 20px;
  width: 100%;
  box-shadow: #226089 1px 3px 4px 1px ;
  border: #0766AD;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: #0766AD;
font-size: 16px;
}






}
@media all and (min-width:790px){
/*  PAge Devis*/
.container-checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  margin-left: 60px;
 
}

.container-checkbox input {
display: none;

} 

.container-checkbox svg {
overflow: visible;
}
.p1checkbox{
width: 100px;
}

.path {
fill: none;
stroke: rgb(85, 84, 84) ;
stroke-width: 6;
stroke-linecap: round;
stroke-linejoin: round;
transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
stroke-dasharray: 241 9999999;
stroke-dashoffset: 0;


}
.container-checkbox input:checked ~ svg .path {
stroke-dasharray: 70.5096664428711 9999999;
stroke-dashoffset: -262.2723388671875;
}
.checkbox{
margin-top: 0px;
}
.p-checkbox{
color: #000000;
margin-left: 20px;
}
.div1{
display: flex;
}

.div-main{
width: 60%;
height: 40%;
margin: 50px auto;
padding: 50px;
background-color: white; 
border-radius: 15px;
margin-top: 400px;
box-shadow:  2px 5px 5px 2px;


}
.standard-height{
height: 850px;
}
.nav-devis{
background-image: url('/public/media/profil-image.jpg');
position: absolute;
width: 100%;
height: 290px; 
background-size: cover;
margin-top:3px ;

}
.link-devis{
color: white;
background:linear-gradient(to right,#071952,#0766AD);
text-decoration: none;
padding: 10px;
border-radius: 5px;
padding-left: 40px;
padding-right: 40px;
margin-left: 1700px;


}
.link-devis:hover{
color: white;
background:linear-gradient(to right,#0766AD,#071952);

}
.PurtePro{
font-size: 40px;
margin-bottom: 190px;
margin-right: 100px;
}

.input-Devis{
border-radius: 20px;
width: 400px;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.p1-devis,.h3-devis{
text-align: center;
color: #000000;
}

.table-devis {
width: 800px;
margin-left: 90px;
}



.td-devis {
padding: 10px;
color: #071952;
font-size: 18px;
display: flex;

}



#typeService,
#typeNettoyage,
#nomberIntervention
{
margin-left: 10px;
border-radius: 8px;
height: 50px;
margin-bottom: 20px;
background-color: white;
border: #070606 1px solid;
font-size: 15px;


}




.div1 {
margin-top: 20px;

}



.p-checkbox {
margin-right: 7px;
}

.checkbox {
margin-right: 10px;
fill: none;
stroke: #000;
stroke-width: 5;
}


#specificArea{
font-size: 18px;
}
.button-devis{
width: 950px;
border-radius: 20px;
height: 50px;
border: none;
font-size: 16px;
background:linear-gradient(to right,#071952,#0766AD);
color:#F3F3F3;
}
.button-devis:hover {
background: linear-gradient(to right, #0766AD, #071952); 
}
.input-ShowSurface{
border-radius: 10px;
width: 25%;
margin-left: 50px;
margin-bottom: 20px;
height: 45px;
box-shadow: #226089 1px 3px 4px 1px ;
padding: 27px;
border: #0766AD;
}
.input-type{
  border-radius: 20px;
  width: 100%;
  box-shadow: #226089 1px 3px 4px 1px ;
  border: #0766AD;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: #0766AD;
font-size: 16px;
}






}






 



