
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body{
  background: #daefef;
} */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
  position: fixed;
  margin-top: -10px;
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  color: #19B3B1;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}
.search_boxx{
  display: flex;
  align-items: center;
  
}
.search_boxx input{
  padding: 9px;
  width: 250px;
  background: #c3f0ef;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 39px;
}
.search_boxx i{
  padding: 0.64rem;
  cursor: pointer;
  color: #fff;
  background: #19B3B1;
  height:39px ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.header-icons .account h6{
  margin-top: 10px;
  font-weight: bold;
  color: black;
}
.iconeAdmin{
  font-size: 40px;
  margin-top: 10px;
  color: #044a49;
}
.containerAdmine{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 89%;
  /* background-color: #000000; */
}

/* Side menubar section */
/* nav{
  background: #fff;
} */

.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}

/* Main Body Section */
.main-body{
  width: 70%;
  padding: 1rem;
  margin-top: 50px;
  
}
.imglogo{
    width: 100px;
    height: 100px;
  }
  .a1{
margin-top: 
0%;
       
        
      }
.h1-body{
  margin-left: -120px;
}
.promo_cardClient{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: #044a49;
}
.promo_cardClient h1, .promo_cardClient span, button{
  margin: 10px;
  color: white;
}
.promo_cardClient button{
  display: block;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: #044a49;
}
.history_lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #0daaa7; */
  margin-left: -146px;
  padding-left: 30px;
  
}

.rowListeCli{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: #000000; */
}
.rowListeCli h4{
  font-size: 16px ;
  color: #000000;
  font-weight: bold;
  margin-left: 10px;
}
.aT{
  margin-left: 30px;
  color: #8e9191;
}
.tableClienI{
  background: #fff;
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
  width: 100%;
  padding-top: 20px;
  
}
.tableClienI td, th{
  padding: 0.2rem 0.8rem;
  color: black;
}
.tableClienI th{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 30px;
}
.tableClienI td{
  font-size: 11px;
  color: #044a49;
  margin-right: 20px;
  padding-left: 30px;
}



/* Sidebar Section */
.sidebar{
  width: 15%;
  padding: 2rem 1rem;
  background: #fff;
}
.sidebar h4{
  margin-bottom: 1.5rem;
}

.sidebar .balance{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.balance .icon{
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  margin-right: 1rem;
  padding: 1rem;
  background: #0daaa7;
}
.balance .info h5{
  font-size: 16px;
}
.balance .info span{
  font-size: 14px;
  color: #044a49;
}
.balance .info i{
  margin-right: 2px;
}
.imglogo{
  width: 250px;
  height: 150px;
  margin-left: -39px;
  margin-right: -190px;
  margin-bottom: -20px;
}
.ButtonRes{
  padding: 5px 17px;
  background-color: rgb(214, 18, 11);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.buttonMod{
  padding: 5px 17px;
  background-color: rgb(16, 151, 23);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.buttonMod:hover{
  padding: 5px 17px;
  background-color: rgb(16, 151, 23);
  color: white;
  border-radius: 10px;
  margin-right: -150px;
  font-weight: bold;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.ButtonRes:hover{
  padding: 5px 17px;
  background-color: rgb(214, 18, 11);
  color: white;
  border-radius: 10px;
  margin-right: -150px;
  font-weight: bold;
  box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.iconeCFidéle{
  font-size: 30px;
  font-weight: bold;
  color: #0bd85a;
  display: inline-block;
}
.iconeCnormale{
  font-size: 30px;
  font-weight: bold;
  color: #ff4800;
  display: inline-block;
}
.iconeCblack{
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
}
.diviconee{
  margin-left: 350px;
}
.list1{
  /* background-color: #072e2d; */
  width: 97%;
  margin-top: 20px;
}
.h4list{
  /* background-color: #ff4800; */
  float: left;
  margin-bottom: -100px;
  color: black;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
.selectServ{
  margin-left: 764px;
  height: 50px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  /* background-color: #0daaa7; */
  font-weight: bold;
  margin-top: -100px;
}
.indispo{
  background-color: rgb(255, 195, 195);
  color: rgb(70, 65, 65);
  text-align: center;
  width: 80px;
  border-radius: 2px;
}
.dispo{
  background-color: rgb(156, 247, 227);
  color: rgb(70, 65, 65);
  text-align: center;
  width: 80px;
  border-radius: 2px;
}
.wrapC{
  overflow: auto;
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width:1290px) {
  
  
  .diviconee{
    margin-left: 100px;
  }
  .selectServ{
    margin-left: 664px;
  }
}
@media screen and (max-width:1130px) {

  .selectServ{
    margin-left: 600px;
  }
}
@media screen and (max-width:1100px) {
  
  .selectServ{
    margin-left: 530px;
  }
  .diviconee{
    margin-left: 30px;
  }
  .main-body{
    width: 700px;
  }
  
}
@media screen and (max-width:1050px) {
  
  .selectServ{
    margin-left: 430px;
  }
  .main-body{
    width: 600px;
  }
  .tableClienI{
    width: 120%;
  }
  
}
@media screen and (max-width:950px) {
  
  .selectServ{
    margin-left: 370px;
  }
  .main-body{
    width: 550px;
  }
  .wrapC{
    width: 640px;
  }
  .tableClienI{
    width: 120%;
  }
  .header{
    background-color: #0bd85a;
  }
}
@media screen and (max-width:900px) {
  
  .main-body{
    width: 500px;
  }
  .tableClienI{
    width: 120%;
  }
  .promo_cardClient h1{
    font-size: 20px;
  }
  .iconeCFidéle ,
  .iconeCnormale,
  .iconeCblack{
    font-size: 20px;
  }
  .tableClienI th{
    font-size: 12px;
  }
  .tableClienI td{
    font-size: 10px;
    color: #044a49;
    margin-right: 20px;
  }
}
@media screen and (max-width:850px) {
  /* .header{
    background-color: #1fa151;
  } */
  .selectServ{
    margin-left: 310px;
  }
  .main-body{
    width: 450px;
  }
  .diviconee{
    font-size: 13px;
  }
  .ButtonRes{
    padding: 5px 13px;
  }
  .promo_cardClient{
    width: 520px;
  }
}
@media screen and (max-width:850px) {
  
  .main-body{
    width: 450px;
  }

  .ButtonRes{
    padding: 5px 13px;
  }
  .search_box{
    margin-left: -70px;
  }
}
